doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title URL shortener
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900')
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/css/style.css')
  body
    .pen-title
      h1 Shorten your URLs
      span
        | Tool 
        i.fa.fa-code
        |  by AK-M
    // Portfolio
    a#portfolio(href='#', title='View my portfolio!')
      i.fa.fa-link
    // CodePen
    a#codepen(href='#', title='Follow me!')
      i.fa.fa-codepen
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    block content
    script(src='/javascripts/index.js')
    footer
      p
        &copy; 2018, All Rights Reserved
