extends layout

block content
  .container
        .card
        .card
          h1.title Shortened Link
          h1(align='center') #{url}
          br
          h1(align='center') Mailing you the details at #{email}
